
<body>
    
    <section>
        <div>
            <div class="hero">
                <h1 class="upper-heading">Authentic Italian Pizzas</h1>
                <h1 class="lower-heading">The Best Pizza in Town</h1>
                <button class="section-btn">Order Online Now</button>
            </div> 
        </div>
    </section>

    

    <!-- menu section -->
    <section id="test" class="menu container mx-auto py-8">
        <h1 class="text-xl font-bold mb-8">HOT PIZZA MEALS</h1> 
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">

            <% pizzas.forEach(function(pizzas){ %>
                <div class="w-full md:w-64">
                    <img class="h-40 mb-4 mx-auto" src="/img/<%=pizzas.image%>" alt="pizza image">
                    <div class="text-center">
                        <h2 class="mb-4 text=lg"><%=pizzas.name%></h2>
                        <span class="size py-1 px-4 rounded-full uppercase text-xs"><%=pizzas.size%></span>
                        <div class="flex items-center justify-around mt-6">
                            <span class="font-bold text-lg"> ₹ <%=pizzas.price%></span>
                            <button data-pizzadata="<%= JSON.stringify(pizzas) %>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                                <span>+</span>
                                <span class="ml-4">Add</span>
                            </button>
                        </div>
                    </div>
                </div> 
            <% }) %>

        </div>
    </section>


</body>